
.theme-bg-surface{
    background-color: #F6F1F1 !important;
}

.theme-bg-primary{
    background-color: #FFFFFF !important;
}

.theme-bg-secondary{
    background-color: #19A7CE !important;
}

.theme-bg-tertiary{
    background-color: #146C94 !important;
}

.theme-bg-text{
    color: #146C94 !important;
}

.form-textarea{
    height: 125px !important;
}

/* Chat-Area */

.chat-area .card-body {
    position: relative;
    height: 400px;
    overflow: scroll;
}

.chat-area img.img-you,
.chat-area img.img-junjun {
    width: 40px; 
    height: 100%;
}

/* MDB-Default */

.div-chat .form-control {
    border-color: transparent;
}

.div-chat .form-control:focus {
    border-color: transparent;
    box-shadow: inset 0px 0px 0px 1px transparent;
}

.div-chat .divider:after,
.div-chat .divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}